
<h2 class="govuk-heading-l">Get in touch</h2>
<p class="govuk-body">
	If you’ve got a question, idea or suggestion you can:
</p>
<ul class="govuk-list govuk-list--bullet">
{% if issue %}
<li>
	<a href="https://github.com/alphagov/govuk-design-system-backlog/issues/{{ issue }}">
        discuss this page on GitHub
    </a>
</li>
{% endif %}
<li>
	<a href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system">
		use the #govuk-design-system channel on Slack</a> (<a class="app-c-contact-panel__link" href="slack://channel?team=T04V6EBTR&amp;id=C6DMEH5R6">open in app</a>)
</li>
<li>
	<a href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk">
		email the GOV.UK Design System team
	</a>
</li>
</ul>
