<div class="app-c-masthead">
  <div class="govuk-o-width-container app-c-site-width-container">
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
            <h1 class="govuk-heading-xl app-c-masthead__title">Design your service using GOV.UK styles, components and&nbsp;patterns</h1>
            <p class="app-c-masthead__description">Use this design system to make your service consistent with GOV.UK, save time and learn from the experience of other service teams.</p>
        </div>
        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
       <!--<img src="/images/placeholder-photo.png" width="100%" alt="" class="govuk-!-mt-r4" />-->
      	</div>
    </div>
  </div>
</div>
