<nav class="app-c-subnav">
    {% if section %}
      {% for theme, sections in sections | groupby("theme") %}
        {% if section == 'Patterns' and theme != 'undefined' %}
          <h4 class="app-c-subnav__theme">{{ theme }}</h4>
        {% endif %}
        <ul class="app-c-subnav__section">
        {% for item in sections %}
          {% if item.section == section and item.title !== section %}
          <li class="app-c-subnav__section-item{% if item.path == path %} app-c-subnav__section-item--current{% endif %}">
            <a href="/{{ item.path }}">{{ item.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    {% endif %}
</nav>
