---
layout: layout-example.njk
stylesheets:
- tabbed-panel.css
javascripts:
- jquery-1.13.3.js
- tabbed-panel.js
---

<div class="js-tabs-enabled js-enabled">
 <div class="govuk-tabbed-panel">
   <h2 class="govuk-tabbed-panel__title">Contents</h2>
   <ul class="govuk-tabbed-panel__list">
     <li class="govuk-tabbed-panel__list-item"><a class="govuk-tabbed-panel__tab" href="#pastDay">Past day</a></li>
     <li class="govuk-tabbed-panel__list-item"><a class="govuk-tabbed-panel__tab" href="#pastWeek">Past week</a></li>
     <li class="govuk-tabbed-panel__list-item"><a class="govuk-tabbed-panel__tab" href="#pastMonth">Past month</a></li>
     <li class="govuk-tabbed-panel__list-item"><a class="govuk-tabbed-panel__tab" href="#pastYear">Past year</a></li>
   </ul>
   <section class="govuk-tabbed-panel__content  js-hidden" id="pastDay">
     <div class="govuk-prose-scope  govuk-!-pt-r6">
        <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col">Case manager</th>
              <th class="govuk-c-table__header" scope="col">Cases opened</th>
              <th class="govuk-c-table__header" scope="col">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">David Francis</td>
              <td class="govuk-c-table__cell ">3</td>
              <td class="govuk-c-table__cell ">0</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Rita Patel</td>
              <td class="govuk-c-table__cell ">2</td>
              <td class="govuk-c-table__cell ">0</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Paul Farmer</td>
              <td class="govuk-c-table__cell ">1</td>
              <td class="govuk-c-table__cell ">0</td>
            </tr>
          </tbody>
        </table>

     </div>
   </section>

   <section class="govuk-tabbed-panel__content  js-hidden" id="pastWeek">
     <div class="govuk-prose-scope  govuk-!-pt-r6">
       <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col">Case manager</th>
              <th class="govuk-c-table__header" scope="col">Cases opened</th>
              <th class="govuk-c-table__header" scope="col">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">David Francis</td>
              <td class="govuk-c-table__cell ">24</td>
              <td class="govuk-c-table__cell ">18</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Rita Patel</td>
              <td class="govuk-c-table__cell ">24</td>
              <td class="govuk-c-table__cell ">27</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Paul Farmer</td>
              <td class="govuk-c-table__cell ">16</td>
              <td class="govuk-c-table__cell ">20</td>
            </tr>
          </tbody>
        </table>
     </div>
   </section>

   <section class="govuk-tabbed-panel__content  js-hidden" id="pastMonth">
     <div class="govuk-prose-scope  govuk-!-pt-r6">
        <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col">Case manager</th>
              <th class="govuk-c-table__header" scope="col">Cases opened</th>
              <th class="govuk-c-table__header" scope="col">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">David Francis</td>
              <td class="govuk-c-table__cell ">98</td>
              <td class="govuk-c-table__cell ">95</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Rita Patel</td>
              <td class="govuk-c-table__cell ">126</td>
              <td class="govuk-c-table__cell ">142</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Paul Farmer</td>
              <td class="govuk-c-table__cell ">122</td>
              <td class="govuk-c-table__cell ">131</td>
            </tr>
          </tbody>
        </table>
     </div>
   </section>

   <section class="govuk-tabbed-panel__content  js-hidden" id="pastYear">
     <div class="govuk-prose-scope  govuk-!-pt-r6">
        <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col">Case manager</th>
              <th class="govuk-c-table__header" scope="col">Cases opened</th>
              <th class="govuk-c-table__header" scope="col">Cases closed</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">David Francis</td>
              <td class="govuk-c-table__cell ">1380</td>
              <td class="govuk-c-table__cell ">1472</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Rita Patel</td>
              <td class="govuk-c-table__cell ">1539</td>
              <td class="govuk-c-table__cell ">1265</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell">Paul Farmer</td>
              <td class="govuk-c-table__cell ">1129</td>
              <td class="govuk-c-table__cell ">1083</td>
            </tr>
          </tbody>
        </table>
     </div>
   </section>
 </div>
</div>
