---
title: Tabbed panel
description:
section: Components
aliases:
backlog_issue_id: 100
layout: layout-pane.njk
status: Experimental
statusMessage: This component is currently experimental because <a class="govuk-link" href="#next-steps">more research</a> is needed to validate it.
---

{% from "_example.njk" import example %}

The tabbed panel component lets users navigate between related content sections, and shows which one is currently selected. 

{{ example({group: 'components', item: 'tabbed-panel', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

Tabbed panels create a risk that users will only see content on the visible tab, and not on the others, so you should consider other options first. 

They can be a helpful way of letting users quickly switch between related information if:

- your content can be usefully separated into clearly labelled sections
- the first section is relevant to the majority of users
- users won’t need to view all sections in order

Tabbed panels can work well for people who use a service regularly, for example, users of a caseworking system. Their need to perform tasks quickly may be greater than their need for simplicity of first-time use.

## When not to use this component

Do not use the tabbed panel component if the total amount of content it contains will make the page slow to load. For this reason, do not use the tabbed panel component to switch between whole pages. 

Do not use a tabbed panel if your users might need to:

- read through all of the content in order, for example, to understand a step-by-step process
- compare information in different tabs - having to memorise the information and switch backwards and forwards can be frustrating and difficult

Test your content without a tabbed panel first. Consider if it’s better to:

- simplify and reduce the amount of content
- split the content across multiple pages
- keep the content on a single page, separated by headings
- use a table of contents to let users navigate quickly to specific sections of content

## How it works

There are 2 ways to use the tabbed panel component. You can use HTML or, if you’re using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [GOV.UK Prototype Kit](https://govuk-prototype-kit-beta.herokuapp.com/), you can use the Nunjucks macro.

{{ example({group: 'components', item: 'tabbed-panel', example: 'default', html: true, nunjucks: true, open: true}) }}

More research is needed on the best way to display the tabbed panel component on small screen sizes. 

Currently, on small screens, the component will display the tabbed content on a single page, in order from first to last, with a table of contents that links to each of the sections.

### Use clear labels

Tabbed panels hide content, so the tab labels need to make it very clear what they link to, otherwise users won’t know if they need to click on them. 

If you struggle to come up with clear labels, it might be because the way you’ve separated the content isn’t clear. 

### Order the tabs according to user needs

The first tab should be the most commonly-needed section. Arrange the other tabs in the order that makes most sense for your users.

### Do not disable tabs

Disabling elements is normally confusing for users. If there is no content for a tab, either remove the tab or, if that would be confusing for your users, explain why there is no content when the tab is selected.

## Research and testing

This component is experimental because it has not yet been tried in research with users. 

The design, code and guidance here are based on recommendations from [Inclusive Components](https://inclusive-components.design/tabbed-interfaces/) and the [Nielsen Norman Group](https://www.nngroup.com/articles/tabs-used-right/) as well as user research findings and examples of tabbed panels in the following services:

- Manage bereavement support payment
- Support for check your state pension
- Access to work integrated system
- Bank holidays
- Universal Credit (DWP)
- Criminal Justice Services (CPP):
  - Prosecutors
  - Legal Advisers
  - Court Administrators
  - Online reporting (SJP performance data)
- Judiciary UI internal systems (HMCTS):
  - Divorce
  - Civil Money Claims
  - Financial Remedy
  - Continuous Online Resolution (COR)
  - Court Case Date (CCD)
- Rural Payments (Defra)

### Browser testing

The tabbed panel component has been tested with the following browsers and devices:

- Google Chrome 66 on OS X 10.13
- Firefox 59 on OS X 10.13 (including tests with custom colors)
- Safari 11.1 on OS X 10.13
- Internet Explorer 11
- Internet Explorer 10
- Internet Explorer 9 (no support for matchMedia and degrades gracefully)

### Testing with assistive technologies

- The tabbed panel component has been tested with the following assistive technologies:
- JAWS 16, 17 and 18 on Internet Explorer 11
- NVDA on Firefox 54
- VoiceOver on OS X 10.13
- ZoomText 10 on Internet Explorer 11
- Dragon NaturallySpeaking on Internet Explorer 11

### <a name="next-steps"></a>Next steps

User research is needed to confirm:

- which types of services tabbed panels work best in
- that this approach to tabbed panels is the best option for screen reader users and sighted keyboard users
- how this component should behave on small screen sizes
