---
title: Tabbed panel
description:
section: Components
aliases:
backlog_issue_id: 100
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

{{ example({group: 'components', item: 'tabbed-panel', example: 'default', html: true, nunjucks: true, open: false}) }}

## When to use this component

## How it works

## Research on this component

If you’ve used this component, get in touch to share your user research findings.
