<div class="govuk-o-width-container app-c-site-width-container">
    <div class="govuk-o-grid govuk-o-main-wrapper">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
         <h1 class="govuk-heading-xl">Get started</h1>

         <p class="govuk-body-l">
            
         </p>

         <h2 class="govuk-heading-m"></h2>

         <p class="govuk-body">
         </p>

      </div>
    </div>
</div>
