<div class="govuk-o-width-container app-c-site-width-container">
    <div class="govuk-o-grid govuk-o-main-wrapper">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
         <h1 class="govuk-heading-xl">Support</h1>

         <p class="govuk-body-l">
            You can get support using the Design System in these ways
         </p>

         <h2 class="govuk-heading-m">Read the guide</h2>

         <p class="govuk-body">
            <a href="/get-started/">Read the Get started guide</a> to get up and running with the Design System
         </p>

         <h2 class="govuk-heading-m">Ask a question on Slack</h2>

         <p class="govuk-body">Use the <a href="https://ukgovernmentdigital.slack.com/messages/govuk-design-system">#govuk-design-system</a> channel on cross-government Slack (<a href="slack://channel?team=T04V6EBTR&id=C6DMEH5R6">open in app</a>)</a></p>

         <h2 class="govuk-heading-m">Email the Design System team</h2>
         <p class="govuk-body">Email the team on <a href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk">govuk-design-system-support@digital.cabinet-office.gov.uk</a></p>
      </div>
    </div>
</div>
